:root{
    --color1 : #D6E6F2;
    --color2 : #B9D7EA;
}
 
* {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

html{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body{
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans',sans-serif;
    background : var(--color1);
    background-size: cover;    
    position: relative;
}

.wrapper{
    width: 1100px;
    margin: auto;
    position: relative;
}

nav .wrapper{
    display: flex;
}
nav .wrapper h1{
    margin-right: 2rem;
}

nav{
    width: 100%;
    margin: auto;
    line-height: 60px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: var(--color2);
    z-index: 1;
    border-bottom: 1px solid white;
}

.sugestbox{
    padding-top: 10px;
    text-align: center;
}

.sugestbox form{
    padding-top: 15px;
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 35rem;
    gap: 2rem;
}

.sugestbox input,select,textarea {
    padding: 1.4rem;
    background: transparent;
    border: 1px solid white;
}

.sugestbox textarea{
    height: 18rem;
}

.sugestbox h3{
    margin-top: 5px;
    font-size: larger;
}

.sugestbox button{
    background: #111111;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px 20px 15px 20px;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
    transition: 0.5s;
}

.sugestbox button:hover{
    background: #ffffff;
    color: #000000;
    padding: 15px 20px 15px 20px;
}

@media screen and (max-width:991.98px) {
    .wrapper{
        font-size: 80%;
        width: 90%;
    }

    .sugestbox form{
        width: 80%;
    }
}
